{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-12 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">
                    <span class="author">{{ post.author }}</span> | 
                    <span class="date">{{ post.created_on|date:"F d, Y" }}</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 masthead-image">
                <div class="post-featured-image">
                    {% if "placeholder" in post.featured_image.url %}
                    <img src="{% static 'images/default.jpg' %}" alt="placeholder image" class="img-fluid">
                    {% else %}
                    <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" class="img-fluid">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card post-content-card">
                <div class="card-body">
                    <div class="card-text">
                        {{ post.content | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-8">
            <h3 class="mb-4">Comments ({{ comment_count }})</h3>
            {% for comment in comments %}
            <div class="comments">
                <p>
                    <span class="comment-author">{{ comment.author }}</span>
                    <span class="comment-date">{{ comment.created_on|date:"F d, Y" }}</span>
                </p>
                <p>{{ comment.body | linebreaks }}</p>
                {% if not comment.approved and comment.author == user %}
                <p class="approval">This comment is awaiting approval</p>
                {% endif %}
            </div>
            {% empty %}
            <p>No comments yet. Be the first to comment!</p>
            {% endfor %}
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <h3 class="mb-4">Leave a comment</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form id="commentForm" method="post">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    {% else %}
                    <p>Please <a href="{% url 'account_login' %}">log in</a> to leave a comment.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

